.con{
    margin-top:1rem;
   padding-left: 13rem;
   padding-top: 10rem;
  
  }
  .image{
  margin-right:0rem;
  align-items: end;
  margin-left:5rem
  }
  .text{
  margin-right:4rem
  }
  .contact{
    margin-left: 30rem;
    margin-bottom: 3rem;
  }

  